<mat-drawer-container>

  <mat-drawer
    #navbar
    mode="side"
  >

    <mat-toolbar>

      Waycarbon

    </mat-toolbar>

    <mat-nav-list class="nav">

      <a
        mat-list-item
        matTooltipPosition="right"
        routerLink="/questions"
      >

        Questions

      </a>

    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>

    <mat-toolbar>

      <button
        mat-icon-button
        (click)="navbar.toggle()"
      >
        <mat-icon>menu</mat-icon>

      </button>

      <span>Interviews </span>

      <button mat-icon-button>

        <mat-icon class="material-icons-outlined">person</mat-icon>

      </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>